<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>DASHMIN - Bootstrap Admin Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
     
</head>

<body>
<div class="container">
<% ngay_le.forEach(function(u){%>     
    <% if(u.ban_van.phuc_am != undefined){%>
    <% if(u.ban_van.phuc_am.includes('Phúc Âm</span>:')){%>
        <div class="card">     
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0"><%= u.title%></h4>
            </div>       
            <div class="card-body">
                
                <form>
                    <div class="row mb-4 block-ban-van">
                        <div class="col-md-6">
                            <span class=""><strong>Phúc Âm - Bản Gốc:</strong></span>
                            <!-- <button class="btn btn-secondary hc-dap-ca"><i class="bi bi-arrow-clockwise"></i></button> -->
                            <div class="col-md-12 input-group">
                                <span class="input-group-text"><strong>Trích từ</strong></span>
                                <input type="text" class="form-control "  value="<%= u.ban_van.phuc_am_trich_tu%>" disabled>
                            </div>
                            <textarea type="text" rows="10"  class="form-control g-phuc-am" disabled><%= u.ban_van.phuc_am %></textarea>                                    
                        </div>  
                        <div class="col-md-6">
                            <span class=""><strong>Phúc Âm - Đã Hiệu Chỉnh:</strong></span>
                            <!-- <button class="btn btn-secondary hc-dap-ca"><i class="bi bi-arrow-clockwise"></i></button> -->
                            <div class="col-md-12 input-group">
                                <span class="input-group-text"><strong>Trích từ</strong></span>
                                <input type="text" class="form-control r-phuc-am-trich-tu" name="phuc_am_trich_tu" value="<%= u.ban_van.phuc_am_trich_tu%>" >
                            </div>
                            <textarea type="text" rows="10" name="phuc_am" class="form-control r-phuc-am"><%= u.ban_van.phuc_am %></textarea>                                    
                        </div>  
                        <input type="hidden" value="<%= u._id%>" class="_id" name="_id">
                        <div class="col-md-12">
                            <span class=""><strong>Alleluia:</strong></span>
                            <!-- <button class="btn btn-secondary hc-alleluia"><i class="bi bi-arrow-clockwise"></i></button>   -->
                            <div class="col-md-12 input-group">
                                <span class="input-group-text"><strong>Trích từ</strong></span>
                                <input type="text" class="form-control r-alleluia-trich-tu" name="alleluia_trich_tu" value="<%= u.ban_van.alleluia_trich_tu%>" >
                            </div>
                            <textarea type="text" rows="4" class="form-control r-phuc-am" name="alleluia"><%= u.ban_van.alleluia %></textarea>                                    
                        </div>    
                        <div style="background-color: rgba(235, 255, 242, 0.623); text-align: right; padding: 0.5em; margin-top: 0.5em;">
                            <i class="bi bi-check-circle alrt-success text-success" style="display: none;">Cập nhật thành công</i>
                            <i class="bi bi-x-circle alrt-failed text-danger" style="display: none;"> Cập nhật thất bại</i>
                            <button type="submit" class="btn btn-success me-2 btn-update">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy" viewBox="0 0 16 16">
                                <path d="M11 2H9v3h2z"/>
                                <path d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z"/>
                                </svg>
                                Update
                            </button>                                    
                        </div>
                        
                    </div>
                </form>
            </div>
        </div>
    <%}%>
    <%}%>
<%})%>
</div>
<script>
$(document).ready(function(){
    $('.block-ban-van').each(function(){
        let old_dc = $('<div>'+$(this).find('.g-dapca-le').val()+'</div>')
        
        // console.log(old_dc.text())
        

        let cau_xuong = $("<div></div>")
        cau_xuong.append(old_dc.children('p:contains(Câu Xướng Trước Phúc Âm)').next())
        old_dc.children('p:contains(Câu Xướng Trước Phúc Âm)').remove()
        // for (let index = 0; index < old_dc.children('p').index(line_bd); index++) {
        //     const element = old_dc.children('p')[index];
        //     dap_ca_le.append(element)
        // }
        
        $(this).find('.r-dap-ca-le').val(old_dc.html())

        $(this).find('.r-alleluia').val(cau_xuong.html())
                
    })

    $('.btn-update').click(function(){
         $('form').each(function() {
            // Prevent the default form submission that causes a page reload
            // event.preventDefault();

            // Serialize the form data into a URL-encoded string
            let formData = $(this).serialize();   
            formData = formData+"&is_ajax=true"   
            console.log(formData)      
            let f_submit = $(this)         
            f_submit.find('.alrt-success').hide()                                                  
            f_submit.find('.alrt-failed').hide()                                                  
            
            //console.log(formData)
            //Perform the AJAX request
            // $.ajax({                                        
            //     url: '/bien-tap-ban-van',
            //     data: formData,
            //     success: function(response) {
            //         // Handle a successful response from the server
            //         console.log("Success:", response);
            //         f_submit.find('.alrt-success').fadeIn(700)
            //         f_submit.find('.alrt-failed').hide()
            //         // Example: display a success message to the user
            //         // $('#responseMessage').html('<p>Form submitted successfully!</p>');
            //     },
            //     error: function(error) {
            //         // Handle errors
            //         console.error("Error:", error);
            //         f_submit.find('.alrt-success').hide()
            //         f_submit.find('.alrt-failed').fadeIn(700)
            //         // Example: display an error message
            //         // $('#responseMessage').html('<p>An error occurred. Please try again.</p>');
            //     }
            // });
        });
    })
    $('form').submit(function(e){
        e.preventDefault()
    })
   
    
})
</script>
</body>
</html>